In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

plt.style.use("ggplot")
plt.rcParams['figure.figsize'] = [20, 10]
plt.rcParams['figure.dpi'] = 1200
warnings.filterwarnings("ignore")

In [70]:
def first_iso_cleaning(sheet_name):
    file_name = "./raw_data/isotop monthly.xlsx"
    df = pd.read_excel(file_name, sheet_name=sheet_name)
    df = df.drop([df.columns[0], df.columns[1]], axis=1)
    df = df.replace("E", -999)
    df = df.round(3)
    return df

In [73]:
o18 = first_iso_cleaning("d18(OBS)")
h2 = first_iso_cleaning("dD(OBS)_2")

In [74]:
o18

,1,2,3,4,5,6,7,8,9,10,...,56,57,58,59,60,61,62,63,64,65
0,-999.000,-999.000,-999.000,-999.000,-999.000,-999.000,-999.000,-999.000,-999.000,-999.000,...,-999.000,-999.000,-999.000,-999.000,-999,-999,-999,-999.0,-999.00,-999.000
1,-999.000,-999.000,-999.000,-999.000,-999.000,-999.000,-999.000,-999.000,-999.000,-999.000,...,-999.000,-999.000,-999.000,-999.000,-999,-999,-999,-999.0,-999.00,-999.000
2,-999.000,-7.323,-9.121,-12.884,-9.810,-999.000,-999.000,-9.849,-8.166,-7.308,...,-999.000,-999.000,-999.000,-3.812,-999,-999,-999,-999.0,-999.00,-999.000
3,-999.000,-10.238,-7.581,-8.709,-8.460,-999.000,-8.234,-9.642,-4.907,-8.585,...,-999.000,-999.000,-999.000,-10.155,-999,-999,-999,-999.0,-8.43,-5.049
4,-6.440,-6.061,-7.702,-5.303,-9.942,-999.000,-6.794,-4.969,-5.882,-2.010,...,-999.000,-999.000,-999.000,-6.938,-999,-999,-999,-999.0,-3.79,-5.765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,-999.000,-999.000,-999.000,-9.691,-999.000,-999.000,-999.000,-999.000,-999.000,-3.615,...,-999.000,-999.000,-999.000,-999.000,-999,-999,-999,-999.0,-999.00,-999.000
81,-999.000,-999.000,-999.000,-6.493,-8.837,-1.818,-999.000,-999.000,-4.215,-999.000,...,-999.000,-999.000,-999.000,-999.000,-999,-999,-999,-999.0,-999.00,-999.000
82,-2.567,0.963,-2.633,-6.339,-6.988,0.161,-2.803,-7.162,0.099,-5.981,...,-3.727,-3.942,-999.000,-999.000,-999,-999,-999,-999.0,-999.00,-999.000
83,-4.707,-4.119,-5.110,-8.588,-8.080,-8.238,-9.129,-9.459,-7.281,-10.648,...,-6.495,-9.552,-4.672,-999.000,-999,-999,-999,-999.0,-999.00,-999.000
84,-6.251,-5.222,-7.280,-9.248,-6.973,-999.000,-8.403,-999.000,-999.000,-10.952,...,-7.624,-999.000,-4.909,-999.000,-999,-999,-999,-999.0,-999.00,-999.000

In [75]:
pr = pd.read_excel("./raw_data/isotop monthly.xlsx", sheet_name="gsprec")

In [93]:
pr = pr.iloc[8:93,:] # Sep 10 - Sep 17

In [98]:
pr = pr.drop([pr.columns[0], pr.columns[1], pr.columns[2],
              pr.columns[3], pr.columns[4], pr.columns[5], 
              pr.columns[6]], axis=1).reset_index(drop=True)

In [99]:
date = pd.date_range(start='9/1/2010', end='10/1/2017', freq="M")

AttributeError: 'Series' object has no attribute 'join'