In [10]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_excel("./raw_data/st_list.xlsx", sheet_name="Lengkap",
                  index_col="No")

In [13]:
df.head()

                  Nama Stasiun  Provinsi      Bujur  Lintang  Elevasi
No
1   Pos Polusi Udara Kemayoran      Jawa  106.84000 -6.15559        4
2              StaGeof Bandung      Jawa  107.59733 -6.88356      791
3   Pos Polusi Udara Cibeureum      Jawa  106.85000 -6.70000      920
4      StaKlim Padang Pariaman  Sumatera  100.29786 -0.54549      128
5         StaKlim Deli Serdang  Sumatera   98.71485  3.62114       25

In [19]:
df.rename([df.columns[0]:"station_name",
         df.columns[1]:"province",
         df.columns[2]:"longitude",
         df.columns[3]:"latitude",
         df.columns[4]:"elevation"], axis=1)

SyntaxError: invalid syntax (1337288079.py, line 1)

In [18]:
df.columns[0]

'Nama Stasiun'